<div class="flex justify-end items-center mb-5">
    <div class="flex gap-2">
        <a [routerLink]="['recall']">
            <p-button icon="ph ph-play" size="small" label="Recall"></p-button>
        </a>
        <p-button size="small" icon="ph ph-plus" label="New" (onClick)="isCreateDialogOpen.set(true)">
        </p-button>
    </div>
</div>

<ng-container *ngIf="loading(); else loaded">
    <app-loading-spinner></app-loading-spinner>
</ng-container>

<ng-template #loaded>
    <ng-container *ngIf="!error() && flashcards().length > 0; else empty">
        <p-scrollPanel styleClass="h-4/5">
            <div *ngFor="let flashcard of flashcards(); let i = index" class="bg-slate-700 p-3 rounded-lg mb-3">
                <div class="flex justify-between">
                    <div class="flex gap-2">
                        <p-tag severity="info" [value]="flashcard.grade"></p-tag>
                    </div>
                    <div class="flex gap-2">
                        <p-button size="small" icon="ph ph-trash" severity="secondary"
                            (onClick)="confirmDelete(flashcard.id)">
                        </p-button>
                    </div>
                </div>
                <div class="grid grid-cols-2 gap-2 mt-3 overflow-auto overflow-x-hidden">
                    <p-scrollPanel styleClass="bg-slate-800 p-2 rounded-lg h-48">
                        {{ flashcard.question }}
                    </p-scrollPanel>
                    <p-scrollPanel styleClass="bg-slate-800 p-2 rounded-lg h-48">
                        {{ flashcard.answer }}
                    </p-scrollPanel>
                </div>
            </div>
        </p-scrollPanel>
        <p-paginator (onPageChange)="onPageChange($event)" [first]="first()" [rows]="pageSize()"
            [totalRecords]="metadata()?.totalElements" [rowsPerPageOptions]="[10, 20, 30]" [style]="{
                background: 'transparent'
            }">
        </p-paginator>
    </ng-container>

    <ng-template #empty>
        <div class="flex flex-col justify-center items-center h-3/4">
            <i class="pi pi-info-circle" style="font-size: 32px"></i>
            <span class="font-semibold">No flashcards found.</span>
            <span>
                Start by creating a <span class="text-yellow-300">New</span> one
            </span>
        </div>
    </ng-template>
</ng-template>

<app-create-flashcard-form [visible]="isCreateDialogOpen()" (closed)="isCreateDialogOpen.set(false)"
    [collectionId]="collectionId" (created)="reload()">
</app-create-flashcard-form>

<p-confirmDialog></p-confirmDialog>