/* You can add global styles to this file, and also import other style files */
@use "tailwindcss";

a {
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
}

.ph {
    font-size: 22px;
}