<p-drawer header="Create collection" [(visible)]="visible" position="right" [style]="{ width: '50%' }"
    (onHide)="handleClose()">
    <form [formGroup]="form" class="flex flex-col gap-2" (ngSubmit)="submit()">
        <div class="flex gap-2">
            <div class="flex flex-col">
                <label class="mb-2">Icon</label>
                <i (click)="op.toggle($event)" style="font-size: 32px"
                    class="bg-slate-600 cursor-pointer h-10 w-10 p-1 rounded-lg ph {{ form.value.icon }}"></i>
            </div>
            <div class="flex flex-col w-full">
                <label class="mb-2" for="title">Title</label>
                <input pInputText id="title" formControlName="title" [maxlength]="30" />
                <small class="text-red-400" *ngIf="form.controls['title'].invalid && form.controls['title'].touched">
                    Title is required
                </small>
            </div>
        </div>

        <div class="flex flex-col">
            <label class="mb-2" for="description">Description</label>
            <textarea pInputTextarea id="description" formControlName="description" [maxlength]="255"></textarea>
        </div>

        <footer class="flex justify-end gap-3 mt-5">
            <button pButton type="submit" [loading]="loading()" [disabled]="form.invalid || loading()">Create</button>
        </footer>
    </form>
</p-drawer>

<p-popover #op>
    <div class="flex flex-col gap-4 w-[25rem]">
        <input pInputText id="icon-search" [(ngModel)]="iconSearch" placeholder="Search" />
        <div class="grid grid-cols-8 gap-1 mt-3 max-h-36 overflow-y-auto">
            @for (icon of icons; track icon.name) {
            @if (icon.name.includes(iconSearch().toLowerCase())) {
            <i [ngClass]="'flex justify-center items-center text-white py-1 cursor-pointer hover:bg-slate-500 rounded ph ph-' + icon.name"
                (click)="onIconSelect(`ph-${icon.name}`); op.hide()"></i>
            }
            }
        </div>
    </div>
</p-popover>