<div class="h-8/10">
    <div class="flex justify-end items-center mb-5">
        <app-timer [isRunning]="sessionRunning()"></app-timer>
    </div>

    <div class="flex h-full justify-center items-center">
        <ng-container *ngIf="isLoadingState()">
            <ng-container *ngIf="flashcardsService?.loading(); else loadErrorOrEmpty"></ng-container>
        </ng-container>

        <ng-template #loadErrorOrEmpty>
            <ng-container *ngIf="flashcardsService.error(); else noCards">
                <p-message severity="error" [text]="flashcardsService.error()!"></p-message>
            </ng-container>
            <ng-template #noCards>
                <div class="flex flex-col items-center gap-5 text-xl">
                    No flashcards available for recall at this moment.
                    <a routerLink="/app/card-collections"><button pButton label="Go back"></button></a>
                </div>
            </ng-template>
        </ng-template>

        <ng-container *ngIf="isCountingState()">
            <div class="flex flex-col justify-center items-center font-bold">
                <span class="text-3xl">Starting in</span>
                <span class="text-6xl">{{ getCounter() }}</span>
            </div>
        </ng-container>

        <ng-container *ngIf="isRunningState()">
            <div class="flex flex-col">
                <div class="group h-96 w-96 [perspective:1000px]">
                    <div class="relative h-full w-full rounded-xl shadow-xl transition-all duration-500 [transform-style:preserve-3d]"
                        [class]="{ '[transform:rotateY(180deg)]': cardIsFlipped() }">
                        <app-recall-card [text]="currentFlashcard().question" side="FRONT"
                            [isLoading]="cardIsLoading()"></app-recall-card>

                        <app-recall-card [text]="currentFlashcard().answer" side="BACK"
                            [isLoading]="cardIsLoading()"></app-recall-card>
                    </div>
                </div>

                <div class="flex justify-center mt-10">
                    <ng-container *ngIf="cardBackIsShown(); else flipButton">
                        <div class="flex gap-2">
                            <button pButton icon="ph ph-check" label="Correct" (click)="onCorrect()"
                                class="p-button-success"></button>
                            <button pButton icon="ph ph-x" label="Wrong" (click)="onWrong()"
                                class="p-button-danger"></button>
                        </div>
                    </ng-container>
                    <ng-template #flipButton>
                        <button pButton label="Flip" (click)="flipCard()"></button>
                    </ng-template>
                </div>
            </div>
        </ng-container>

        <ng-container *ngIf="isFinishedState()">
            <div class="flex flex-col">
                <div class="flex gap-3 font-bold text-4xl mb-5">
                    <i class="ph ph-confetti text-amber-300" style="font-size: 48px"></i>
                    Session completed!
                </div>
                <div class="text-2xl">
                    <span class="font-semibold">Score:</span> {{ score() }}/{{ total() }}
                </div>
                <div class="flex justify-center mt-20">
                    <a routerLink="/app/card-collections"><button pButton label="Go back"></button></a>
                </div>
            </div>
        </ng-container>
    </div>
</div>