/* You can add global styles to this file, and also import other style files */
@use "tailwindcss";
@import '../node_modules/@phosphor-icons/web/src/regular/style/';
@import "../node_modules/highlight.js/styles/atom-one-dark.min.css";
@import 'quill/dist/quill.snow.css';

:root {
    --p-progressspinner-color-one: white !important;
    --p-progressspinner-color-two: white !important;
    --p-progressspinner-color-three: white !important;
    --p-progressspinner-color-four: white !important;

    --surface-ground: #121212;
    --surface-card: #1e1e1e;
    --surface-overlay: #2a2a2a;
    --surface-border: #333;
    --text-color: #fff;
    --primary-color: #90caf9;
    --primary-color-text: #000;
}

@media (prefers-color-scheme: dark),
(prefers-color-scheme: light) {
    :root {
        color-scheme: dark !important;
    }
}

a {
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
}

.ph {
    font-size: 22px;
}

.ql-toolbar {
    background-color: var(--color-slate-800);
    border: 1px solid var(--color-slate-600) !important;
    border-radius: 10px 10px 0 0;
}

.ql-container {
    background-color: var(--color-slate-950);
    border: 1px solid var(--color-slate-600) !important;
    border-radius: 0 0 10px 10px;
}

.ngx-quill-view {
    background-color: var(--color-slate-800);
    border-radius: 10px;
}

.ql-stroke {
    stroke: white !important;
}

.ql-fill {
    fill: white !important;
}

.ql-picker-label {
    color: white !important;
}

.ql-picker-options {
    background-color: var(--color-slate-800) !important;
}

.ql-picker-item {
    color: white !important;
}